
<p style="font-size: 0.2in">Welcome to Microlend</p>

<body>
<h2><center><b>About</b></center></h2>
<p style="font-size: 0.2in"><b></b> We promote the creation of Hyperledger 
blockchain solutions and applications which address social and 
environmental issues. By working to shift economic and social paradigms 
through blockchain technology, we increase the economic prosperity of 
individuals and communities.</p>
<p style="font-size: 0.2in">

We provide the platform as a service, and helps to build tools and 
software for users to be able to interface with its new blockchain based
 microfinance model.It is the first fully transparent microfinance 
platform. Built on Hyperledger blockchain technology and accessible as 
web applications, its network allows anyone to request microcredit and 
send fiat payments from anywhere in the world. We offer technology and 
services within an ecosystem involving software applications to 
facilitate cross-border lending, remittances, merchant payments, and 
currency exchange.

</p><h2>Few of the features of our platform are :</h2>

<ol style="font-size: 0.2in">
  <li>Reputation Management</li>
  <li>Account Management</li>
  <li>EMI Calculation</li>
  <li>Collateral</li>
  <li>Dashboard</li>
  <li>High Throughput</li>
  <li>Multiple Loan Request Handling</li>
  
</ol> 

<p></p>




</body>